html, body {
  margin: 0 10px 0 10px;
}

.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1700px;
}

.first {
  display: grid;
  padding: 25px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
}

.top-image {
  width: 200px;
  height: 200px;
  border: 1px double #000;
  border-radius: 5px;
}

#grid-im:hover {
  transform: scale(1.1);
}

.second {
  align-items: center;
}

#carouselExampleControls {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  align-items: center;
}

#second-grid {
  background-color: #F8F6F5;
  padding-left: 120px;
  padding-right: 50px;
  padding-top: 1px;
  margin-top: 30px;
  align-items: center;
}

#h1-after-header {
  font-size: 3vw;
  margin-top: 60px;
  text-align: center;
}

.third {
  display: grid;
  padding: 15px;
  grid-gap: 5px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
}